app = "botss"
primary_region = "gru"
kill_signal = "SIGINT"
kill_timeout = "5s"

[build]

[env]
  PYTHONUNBUFFERED = "1"
  PORT = "8080"

[experimental]
  auto_rollback = false

[deploy]
  strategy = "immediate"

[[services]]
  internal_port = 8080
  protocol = "tcp"
  auto_stop_machines = "off"
  auto_start_machines = true

  [[services.ports]]
    handlers = ["http"]
    port = 80
    force_https = true

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

[[vm]]
  memory = "256mb"
  cpu_kind = "shared"
  cpus = 1
